In [1]:
import pandas as pd
import os

In [2]:
# Get all the files downloaded and stored in WHRData
files=os.listdir('WHRData')

In [3]:
#Create a list of files with Data in the name
files=[f for f in files if 'Data' in f]
files

['WHR2015Data.xlsx',
 'WHR2016Data.xlsx',
 'WHR2017Data.xlsx',
 'WHR2018Data.xls',
 'WHR2019Data.xls',
 'WHR2020Data.xls',
 'WHR2021Data.xls']

In [6]:
#Print Years from file names
for file in files:
    print(file.split('.')[0].replace('WHR','').replace('Data','').strip())

2015
2016
2017
2018
2019
2020
2021

In [8]:
DFlist=[] # Emptylist
for file in files: #for all files in the list
    print(f'Processing {file}')
    xls1=pd.ExcelFile("WHRData\\" + file) #Read excel file
    if '2015' in file:
        df1 = pd.read_excel(xls1,'Data for Figure2.2',skiprows=1)
        df1 = df1[['country','Ladder score','Logged GDP per capita','Social support','Healthy life expectancy',
        'Freedom to make life choices','Generosity','Perceptions of corruption']]
        df1.rename(columns=({'Ladder score':'Score','country':'Country'}),inplace=True)
    else:
        if ('2016' in file) or ('2018' in file):
            df1 = pd.read_excel(xls1,'Figure2.2')
        if '2017' in file:
            df1 = pd.read_excel(xls1,'Figure2.2 WHR 2017')
        if '2019' in file:
            df1 = pd.read_excel(xls1,'Figure2.6')
        if ('2020' in file) or ('2021' in file):
            df1 = pd.read_excel(xls1,'Sheet1')
            df1.rename(columns=({'Ladder score':'Score','Country name':'Country'}),inplace=True)
        file_year=file.split('.')[0].replace('WHR','').replace('Data','').strip()
        #For files in years 2016-19
        if (file_year=='2016' or file_year=='2017' or file_year=='2018' or file_year=='2019'):
            df1 = df1[['Country', 'Happiness score','Explained by: GDP per capita', 'Explained by: Social support',
           'Explained by: Healthy life expectancy','Explained by: Freedom to make life choices',
           'Explained by: Generosity', 'Explained by: Perceptions of corruption']]
            df1.rename(columns=({'Happiness score':'Score','Explained by: GDP per capita':'Logged GDP per capita',
                            'Explained by: Social support':'Social support',
                            'Explained by: Healthy life expectancy':'Healthy life expectancy',
                            'Explained by: Freedom to make life choices':'Freedom to make life choices',
                            'Explained by: Generosity':'Generosity',
                            'Explained by: Perceptions of corruption':'Perceptions of corruption'
                           }),inplace=True)
    df1.reset_index(inplace=True)
    df1.rename(columns=({'index':'Rank'}),inplace=True)
    df1['Rank']=df1['Rank']+1
    df1['Year']=file.split('.')[0].replace('WHR','').replace('Data','').strip()
    df1=df1[['Country','Score','Rank','Year','Logged GDP per capita','Social support','Healthy life expectancy',
        'Freedom to make life choices','Generosity','Perceptions of corruption']]
    DFlist.append(df1)
    #break

Processing WHR2015Data.xlsx
Processing WHR2016Data.xlsx
Processing WHR2017Data.xlsx
Processing WHR2018Data.xls
Processing WHR2019Data.xls
Processing WHR2020Data.xls
Processing WHR2021Data.xls

In [14]:
DFlist[0].head() #2015 data

,Country,Score,Rank,Year,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Switzerland,7.587,1,2015,10.857283,0.953136,72.736862,0.947724,0.080692,0.301402
1,Iceland,7.561,2,2015,10.568534,0.975240,72.968559,0.912811,0.257895,0.741834
2,Denmark,7.527,3,2015,10.639521,0.957780,70.323395,0.932365,0.137351,0.200448
3,Norway,7.522,4,2015,11.048872,0.945359,70.705254,0.951669,0.144468,0.388029
4,Canada,7.427,5,2015,10.642016,0.941860,71.443192,0.916792,0.285598,0.444144

In [15]:
DFlist[1].head() #2016 data

,Country,Score,Rank,Year,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Denmark,7.526,1,2016,1.441784,1.163745,0.795040,0.579413,0.361710,0.444532
1,Switzerland,7.509,2,2016,1.527334,1.145236,0.863029,0.585572,0.280825,0.412033
2,Iceland,7.501,3,2016,1.426655,1.183259,0.867333,0.566242,0.476784,0.149747
3,Norway,7.498,4,2016,1.577440,1.126896,0.795789,0.596086,0.378948,0.357758
4,Finland,7.413,5,2016,1.405979,1.134640,0.810914,0.571037,0.254919,0.410040

In [16]:
DFlist[2].head() #2017 data

,Country,Score,Rank,Year,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Norway,7.537,1,2017,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,7.522,2,2017,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,7.504,3,2017,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,7.494,4,2017,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,7.469,5,2017,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [17]:
DFlist[3].head() #2018 data

,Country,Score,Rank,Year,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.6321,1,2018,1.305095,1.592134,0.874454,0.680633,0.191638,0.392961
1,Norway,7.5937,2,2018,1.455627,1.582340,0.860763,0.686420,0.285636,0.339687
2,Denmark,7.5553,3,2018,1.351153,1.590453,0.867933,0.683251,0.284392,0.407917
3,Iceland,7.4952,4,2018,1.343301,1.644378,0.913802,0.676502,0.353233,0.138019
4,Switzerland,7.4873,5,2018,1.419727,1.548998,0.927076,0.659779,0.255525,0.356677

In [18]:
DFlist[4].head() #2019 data

,Country,Score,Rank,Year,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.7689,1,2019,1.340243,1.587276,0.986145,0.595895,0.152708,0.392913
1,Denmark,7.6001,2,2019,1.383439,1.572595,0.996019,0.592356,0.252320,0.410473
2,Norway,7.5539,3,2019,1.487767,1.581548,1.028123,0.603500,0.271304,0.340884
3,Iceland,7.4936,4,2019,1.380163,1.623651,1.025653,0.590905,0.354356,0.117980
4,Netherlands,7.4876,5,2019,1.396020,1.521903,0.999314,0.557075,0.322440,0.297978

In [19]:
DFlist[5].head() #2020 data

,Country,Score,Rank,Year,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.8087,1,2020,10.639267,0.954330,71.900826,0.949172,-0.059482,0.195445
1,Denmark,7.6456,2,2020,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489
2,Switzerland,7.5599,3,2020,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728
3,Iceland,7.5045,4,2020,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710
4,Norway,7.4880,5,2020,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218

In [20]:
DFlist[6].head() #2021 data

,Country,Score,Rank,Year,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.8421,1,2021,10.775202,0.953603,72.000000,0.949268,-0.097760,0.185846
1,Denmark,7.6195,2,2021,10.933176,0.954410,72.699753,0.945639,0.030109,0.178838
2,Switzerland,7.5715,3,2021,11.117368,0.941742,74.400101,0.918788,0.024629,0.291698
3,Iceland,7.5539,4,2021,10.877768,0.982938,73.000000,0.955123,0.160274,0.672865
4,Netherlands,7.4640,5,2021,10.931812,0.941601,72.400116,0.913116,0.175404,0.337938

In [21]:
final_data=pd.concat(DFlist) #Concatenate all the dataframes in the list to Single DataFrame

In [26]:
len(final_data)

1085

In [44]:
final_data['Country'].isnull().sum() # Find if there are any rows with NUll Country Names

1

In [47]:
final_data=final_data[final_data['Country'].isnull()==False] #Create a DF with non-null country names

In [48]:
len(final_data)

1084

In [49]:
final_data.to_excel('WHR2015-21.xlsx',index=False) # write to excel.