In [1]:
import pandas as pd

In [3]:
df1=pd.read_excel('WHRDATA\WHR2015-21.xlsx')

In [5]:
df1.head()

,Country,Score,Rank,Year,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Switzerland,7.587,1,2015,10.857283,0.953136,72.736862,0.947724,0.080692,0.301402
1,Iceland,7.561,2,2015,10.568534,0.975240,72.968559,0.912811,0.257895,0.741834
2,Denmark,7.527,3,2015,10.639521,0.957780,70.323395,0.932365,0.137351,0.200448
3,Norway,7.522,4,2015,11.048872,0.945359,70.705254,0.951669,0.144468,0.388029
4,Canada,7.427,5,2015,10.642016,0.941860,71.443192,0.916792,0.285598,0.444144

In [11]:
df1.replace(['Hong Kong S.A.R. of China','Hong Kong S.A.R., China','Hong Kong SAR, China'],'Hong Kong',inplace=True)

In [13]:
df1.replace('North Cyprus','Northern Cyprus',inplace=True)

In [18]:
df1.replace('Taiwan Province of China','Taiwan',inplace=True)

In [21]:
df1.replace('Trinidad & Tobago','Trinidad and Tobago',inplace=True)

In [19]:
df1[df1['Country'].isin(['Taiwan','Taiwan Province of China'])]

,Country,Score,Rank,Year,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
37,Taiwan,6.2980,38,2015,10.533769,0.838549,70.347084,0.693315,0.026056,0.837034
192,Taiwan,6.3790,35,2016,1.397286,0.926242,0.795653,0.323775,0.254951,0.066301
347,Taiwan,6.4220,33,2017,1.433627,1.384565,0.793984,0.361467,0.258360,0.063829
495,Taiwan,6.4406,26,2018,1.365053,1.435968,0.857375,0.417559,0.150619,0.077859
650,Taiwan,6.4462,25,2019,1.368087,1.430416,0.913703,0.350553,0.241697,0.096796
806,Taiwan,6.4554,25,2020,10.775685,0.894309,69.599998,0.771530,-0.073199,0.731883
958,Taiwan,6.5844,24,2021,10.870996,0.898279,69.599998,0.784361,-0.070494,0.721331

In [23]:
df1['Country'].sort_values().unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Cyprus', 'Norway',
       'Oman', 'Pakistan', 'Palestinian Territories', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Somalia', 'Somaliland region',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [25]:
df1.to_excel('WHRDATA\WHR2015-21.xlsx',index=False,sheet_name='Sheet1')